{% extends 'base.html'%} {% block content %}
<div class="row">
    
<div class="col">
  {% if user.is_authenticated %}
    <h1>Records</h1>
    <a href="{% url 'add_record' %}" style="float: right;" class="btn btn-secondary">Add Record</a>
    <table class="table table-hover table-bordered table-xxl table-striped caption-top ">
        <caption>List of users</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                    <tr>
                        <th scope="row"><a href="{% url 'record' record.id %}">{{record.id}}</a></th>
                        <td>{{record.first_name }} {{record.last_name }}</td>
                        <td>{{record.email}}</td>
                        <td>{{record.phone }}</td>
                        <td>{{record.address }}</td>
                        <td>{{record.city }}</td>
                        <td>{{record.state }}</td>
                        <td>{{record.zipcode }}</td>
                        <td>{{record.created_at }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
      </table>

  {% else %}
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        placeholder="Username"
        class="form-control"
        aria-describedby="emailHelp"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        placeholder="Password"
        class="form-control"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
  {% endif %}
</div>

</div>

{% endblock %}
